*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
main{
   background: hsl(216, 50%, 16%);
   height: 35rem;
   width: 21rem;
   justify-content: center;
   align-items: center;
   padding: 1.5% 1.5%;
   border-radius: 1rem;
}
.card-image{
    position: relative;
}
.image{
    width: 100%;
    border-radius: 0.5rem;
}
.overlay{
    background: hsl(178, 100%, 50%);
    width: 100%; 
    height: 98.5%; 
    position: absolute;
    top: 0; 
    left: 0;
    border-radius: 0.5rem; 
    display: grid; 
    place-items: center;
    opacity: 0;
}
.overlay:hover{
    opacity: 0.7;
}
.eye{
    margin-top: 9%;
    margin-left: 12%;
}
.card-content{
    margin-top: -1rem;
}
h1{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin-top: 1.9rem;
    font-weight: 600;
}
h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.card-content p{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    margin-top: 1rem;
}
.card-info{
    color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    line-height: 1rem;
}
.icon{
    height: 0.9rem;
}
hr{
    border: 0.015rem solid  hsl(215, 51%, 70%);
}
b{
    text-transform: uppercase;
}
.card-info span{
    color: hsl(215, 51%, 70%);
}
.card-profile img{
    width: 1.9rem;
    height: 1.9rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: -0.4rem;
}
.card-profile{
    color: hsl(215, 51%, 70%);
    display: flex;
    gap: 0.9rem;
    margin-top: 1.5rem;
    font-size: 14px;
    font-weight: 400;
}
.card-profile span{
    color: white;
    font-weight: 400;
}
.card-profile span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
footer{
    bottom: 1%;
    position: absolute;
    color: hsl(178, 100%, 50%);
    font-size: 0.6rem;
}
a:hover{
    color: hsl(215, 51%, 70%);
}
a{
    text-decoration: overline;
    color: hsl(178, 100%, 50%);
}

/*Responisveness*/
@media screen and (max-width: 375px){
    main{
        padding: 6% 6%;
    }
}
